In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD')) #is random.randn totally random??
df

                   A         B         C         D
2013-01-01  2.002224  0.146691 -1.020948 -1.540141
2013-01-02  0.525586  0.665372  0.530489  1.742385
2013-01-03 -0.703522  1.042709 -2.133774  0.044594
2013-01-04 -0.057319 -1.141665 -1.677285  1.437313
2013-01-05 -1.081074  0.893674 -1.621268  0.204442
2013-01-06 -0.861815 -1.946897 -0.780461  1.152386

In [13]:
df2 = pd.DataFrame({'A': 1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                   'D':np.array([3]*4,dtype='int32'),
                   'E':pd.Categorical(['test','train','test','train']),
                   'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [3]:
s = np.array(5)

In [4]:
s.shape #zero dimension

()

In [5]:
x = s + 3
x

8

In [6]:
v = np.array([1,2,3])
x = v[1]
x

2

In [7]:
m = np.array([[1,2,3], [4,5,6],[7,8,9]])
m.shape

(3, 3)

In [8]:
m[1][2]

6

In [10]:
v = np.array([1,2,3,4])
x = v.reshape(4,1)
x

array([[1],
       [2],
       [3],
       [4]])

In [13]:
x = v[None:]
#x = v[:, None]
x

array([1, 2, 3, 4])